{% extends 'admin/master.html' %}


{% block head %}
{{ super() }}
{% endblock %}


{% block body %}
{{ super() }}
<div class="auth-wrapper change-password footer-bt0">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card card-shadow">
            <div class="card-body">
                <div class="mb-4 text-center">
                    <i class="fas fa-unlock-alt auth-icon mb-4"></i>
                    <h3 class="font-weight-bold">Đổi mật khẩu</h3>
                    <h4 id='username'>Người dùng:
                        {{ current_user.username }}</h4>
                </div>
                <form>
                    <div class="form-group">
                        <span class="password-icon psw">
                            <i class="fas fa-key"></i>
                        </span>
                        <input type="password" class="form-control" id="oldPsw" minlength="6" maxlength="8"
                            placeholder="Nhập mật khẩu cũ" required>
                    </div>
                    <div class="form-group">
                        <span class="password-icon psw">
                            <i class="fas fa-key"></i>
                        </span>
                        <input type="password" class="form-control" id="newPsw" minlength="6" maxlength="8"
                            placeholder="Nhập mật khẩu mới" required>
                    </div>
                    <div class="form-group">
                        <span class="password-icon psw">
                            <i class="fas fa-key"></i>
                        </span>
                        <input type="password" class="form-control" id="cfmNewPsw" minlength="6" maxlength="8"
                            placeholder="Nhập lại mật khẩu mới" required>
                    </div>
                    <a href="javascript:;" id="cfm" class="btn_1 full_width text-center">Đổi mật khẩu</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% block script %}

<!-- Main JS -->
<script src="{{ url_for('static', filename='js/admin/change_password.js') }}"></script>
{% endblock %}
{% endblock %}