{% extends 'admin/master.html' %}

{% block head %}
{{super()}}
<!-- Chart JS -->
<script src="/static/js/plugin/chart.js/chart.min.js"></script>
{% endblock %}

{% block header %}
{% if current_user.is_authenticated %}
{% include 'includes/navigation.html' %}
{% include 'includes/sidebar.html' %}
{% endif %}
{% endblock %}

{% block container %}
{% block body %}
{% if not current_user.is_authenticated %}
{% include 'includes/login.html' %}
{% else %}
<div class="main-panel">
	{% block content %}
	<div class="content">
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold">Trang tổng quan</h2>
					</div>
					<div class="ml-md-auto py-2 py-md-0">
						<a href="/admin/accountmodel" class="btn btn-white btn-border btn-round mr-2">Quản lý tài
							khoản</a>
						<a href="/admin/customermodel" class="btn btn-secondary btn-round">Quản lý khách hàng</a>
					</div>
				</div>
			</div>
		</div>
		<div class="page-inner mt--5">
			<div class="row mt--2">
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-body">
							<div class="card-title">Thống kê tổng quan</div>
							<div class="card-category">Dữ liệu thống kê hằng ngày</div>
							<div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
								<div class="px-2 pb-2 pb-md-0 text-center">
									<div id="circles-1">biểu đồ xuất hiện ở đây</div>
									<h6 class="fw-bold mt-3 mb-0">Khách hàng mới</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-body">
							<div class="card-title">Tổng doanh thu</div>
							<div class="row py-3">
								<div class="col-md-4 d-flex flex-column justify-content-around">
									<div>
										<h6 class="fw-bold text-uppercase text-success op-8">Doanh thu</h6>
										<h3 class="fw-bold">$9.782</h3>
									</div>
									<div>
										<h6 class="fw-bold text-uppercase text-danger op-8">Doanh thu</h6>
										<h3 class="fw-bold">$1,248</h3>
									</div>
								</div>
								<div class="col-md-8">
									<div id="chart-container">Biểu đồ doanh thu ở đây
										<canvas id="totalIncomeChart"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Thống kê khách hàng đến</div>
								<div class="card-tools">
									<a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
										<span class="btn-label">
											<i class="fa fa-pencil"></i>
										</span>
										Lưu PDF
									</a>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="chart-container" style="min-height: 375px">
								Biểu đồ xuất hiện ở đây
								<canvas id="statisticsChart"></canvas>
							</div>
							<div id="myChartLegend"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Danh sách thuốc bán chạy</div>
						</div>
						<div class="card-body pb-0">
							<div class="d-flex">
								<div class="avatar">
									<img src="https://res.cloudinary.com/ouproject/image/upload/v1639921915/img/profile/profile_r6b0jg.jpg" alt="..."
										class="avatar-img rounded-circle">
								</div>
								<div class="flex-1 pt-1 ml-2">
									<h6 class="fw-bold mb-1">Tên thuốc 1</h6>
									<small class="text-muted">Giới thiệu thuốc 1</small>
								</div>
								<div class="d-flex ml-auto align-items-center">
									<h3 class="text-info fw-bold">+17.000.000 VNĐ</h3>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar">
									<img src="https://res.cloudinary.com/ouproject/image/upload/v1639921915/img/profile/profile_r6b0jg.jpg" alt="..."
										class="avatar-img rounded-circle">
								</div>
								<div class="flex-1 pt-1 ml-2">
									<h6 class="fw-bold mb-1">Tên thuốc 1</h6>
									<small class="text-muted">Giới thiệu thuốc 1</small>
								</div>
								<div class="d-flex ml-auto align-items-center">
									<h3 class="text-info fw-bold">+17.000.000 VNĐ</h3>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar">
									<img src="https://res.cloudinary.com/ouproject/image/upload/v1639921915/img/profile/profile_r6b0jg.jpg" alt="..."
										class="avatar-img rounded-circle">
								</div>
								<div class="flex-1 pt-1 ml-2">
									<h6 class="fw-bold mb-1">Tên thuốc 1</h6>
									<small class="text-muted">Giới thiệu thuốc 1</small>
								</div>
								<div class="d-flex ml-auto align-items-center">
									<h3 class="text-info fw-bold">+17.000.000 VNĐ</h3>
								</div>
							</div>
							<div class="separator-dashed"></div>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="pull-in card">
						Biểu đồ xuất hiện ở đây
						<canvas id="topProductsChart"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{% block footer %}
	{% if current_user.is_authenticated %}
	{% include 'includes/footer.html' %}
	{% endif %}
	{% endblock %}
	{% endblock content %}

	<!-- Specific Page JS goes HERE  -->
	{% block javascripts %}


	{% endblock javascripts %}
</div>
{% endif %}

<!-- Script -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
{% endblock %}