{% extends 'admin/master.html'%}


{% block head%}
{{super()}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.22/jspdf.plugin.autotable.min.js"
    integrity="sha512-3QG6xTKwQ+Gj16++ggVRGrg0pZbC5/u131WyV3Pg/C9JMIKubrs1SbeloGdT5tpx+fVVV1jjkuo+dzbbF080hw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{url_for('static', filename='js/admin/report.js')}}"></script>


{% endblock%}


{% block body %}
{{super()}}
<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div>
                <h2 class="text-white pb-2 fw-bold">Báo cáo</h2>
                <h5 class="text-white op-7 mb-2">Phòng khám Trung Thành</h5>
            </div>
        </div>
    </div>

    <div class="page-inner mt--5">
        <div class="row mt--2 justify-content-center">
            {% include 'includes/admin/report/input_report.html' %}
            {% include 'includes/admin/report/result_report.html' %}
        </div>
    </div>
    <ul class="pagination justify-content-center" id='pagination'>
    </ul>
</div>
{% endblock %}