$white: #fff;
$pure: #eff2f9;
$primaryColor: #2b55cc;
$bgHome: #4d79f6;
$navColor: #361cc1;
$yellow: #f3c74d;
$shadow: #7f89a19a;

@media screen and (min-width: 1200px) {
}

// low pc, laptop
@media screen and (max-width: 1199px) {
}

// tablet
@media screen and (max-width: 991px) {
    section {
        padding: 50px 0;
    }
}

// tablet
@media screen and (max-width: 767px) {
    section {
        padding: 40px 0;
    }
}

// mobile
@media screen and (max-width: 574px) {
    body {
        font-size: 14px;
    }
}
