/* Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

/* define custom css variables */
$white: #fff;
$pure: #e2e2e2;
$primaryColor: #2b55cc;
$bgHome: #4d79f6;
$navColor: #361cc1;
$yellow: #f3c74d;
$shadow: #7f89a19a;
$red: #cd0a5b;
$cyan: #17a2b8;
$danger: #dc3545;

/* -----------------
    Global style
-------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background: $white;
    font-size: 16px;
}

ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $primaryColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1;
}

section {
    padding: 80px 0;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.text-justify {
    text-align: left !important;
}

/* ============ Header style ==============*/

/*===== Pagination =====*/
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .pagination-item {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;

        text-align: center;
        margin: 30px 0 0 15px;

        color: #fff !important;
        background: $cyan;

        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-border-radius: 50;
    }
    .pagination-item:hover {
        background: $danger;
    }

    .pagination-item.active {
        background: $danger;
    }
}

/*===== BACK TO TOP =====*/
.back-to-top {
    position: fixed;
    right: 33px;
    bottom: 100px;
    z-index: 99;

    text-align: center;
    font-size: 20px;
    color: $white;
    display: none;

    line-height: 40px;
    width: 40px;
    height: 40px;

    background: -webkit-linear-gradient(left, #361cc1 0%, #2e82ef 100%);
    background: -o-linear-gradient(left, #361cc1 0%, #2e82ef 100%);
    background: linear-gradient(to right, #361cc1 0%, #2e82ef 100%);

    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.back-to-top:hover {
    color: $white;
    background: linear-gradient(to left, #361cc1 0%, #2e82ef 100%);
}
