/* Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
/* define custom css variables */
/* -----------------
    Global style
-------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  font-size: 16px;
}

ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #2b55cc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
}

section {
  padding: 80px 0;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.text-justify {
  text-align: left !important;
}

/* ============ Header style ==============*/
/*===== Pagination =====*/
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pagination .pagination-item {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 30px 0 0 15px;
  color: #fff !important;
  background: #17a2b8;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-border-radius: 50;
}

.pagination .pagination-item:hover {
  background: #dc3545;
}

.pagination .pagination-item.active {
  background: #dc3545;
}

/*===== BACK TO TOP =====*/
.back-to-top {
  position: fixed;
  right: 33px;
  bottom: 100px;
  z-index: 99;
  text-align: center;
  font-size: 20px;
  color: #fff;
  display: none;
  line-height: 40px;
  width: 40px;
  height: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#361cc1), to(#2e82ef));
  background: linear-gradient(to right, #361cc1 0%, #2e82ef 100%);
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.back-to-top:hover {
  color: #fff;
  background: -webkit-gradient(linear, right top, left top, from(#361cc1), to(#2e82ef));
  background: linear-gradient(to left, #361cc1 0%, #2e82ef 100%);
}
/*# sourceMappingURL=style.css.map */