<div class="col-md-8">
    <div class="card card-with-nav">
        <div class="card-body">
            {%if infor_current_user == None %}
            <span class="text-danger">Thông tin nhân viên đang được cập nhật. Vui lòng quay lại sau !</span>
            {%else%}
            <div class="row mt-3">
                <div class="col-md-6">
                    <div class="form-group-default">
                        <div class="pt-2 pb-2">
                            <span class="text-success fw-bold">Họ và tên đệm:</span>
                            <span>{{infor_current_user['last_name']}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group-default">
                        <div class="pt-2 pb-2">
                            <span class="text-success fw-bold">Tên:</span>
                            <span>{{infor_current_user['first_name']}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group-default">
                        <div class="pt-2 pb-2">
                            <span class="text-success fw-bold">Ngày sinh:</span>
                            <span>{{infor_current_user['date_of_birth']}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group-default">
                        <div class="pt-2 pb-2">
                            <span class="text-success fw-bold">Giới tính:</span>
                            <span>{{infor_current_user['sex']}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group-default">
                        <div class="pt-2 pb-2">
                            <span class="text-success fw-bold">Số điện thoại:</span>
                            {%if infor_current_user['phone_number'] !=None and infor_current_user['phone_number']!= '' %}
                            <span>{{infor_current_user['phone_number']}}</span>
                            {%else%}
                            <span class="not-fill">Chưa cập nhật thông tin !</span>
                            {%endif%}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group-default">
                        <div class="pt-2 pb-2">
                            <span class="text-success fw-bold">Ngày vào làm:</span>
                            <span>{{infor_current_user['date_of_work']}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group-default">
                        <div class="pt-2 pb-2">
                            <span class="text-success fw-bold">Địa chỉ email:</span>
                            {%if infor_current_user['email'] !=None and infor_current_user['email'] != ''%}
                            <span>{{infor_current_user['email']}}</span>
                            {%else%}
                            <span class="not-fill">Chưa cập nhật thông tin !</span>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group-default">
                        <div class="pt-2 pb-2">
                            <span class="text-success fw-bold">Khoa trực thuộc:</span>
                            <span>{{infor_current_user['department']}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-md-12">
                    <div class="form-group-default">
                        <div class="pt-2 pb-2">
                            <span class="text-success fw-bold">Địa chỉ:</span>
                            <span>{{infor_current_user['address']}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {%endif%}
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card card-profile">
        <div class="card-header"
            style="border-radius: 10px 10px 0 0;background-image: url('https://appsrv1-147a1.kxcdn.com/atlantis-pro/img/blogpost.jpg');">
            <div class="profile-picture">
                <div class="avatar avatar-xl">
                    {%if current_user.avatar %}
                    <img src="{{current_user.avatar}}" alt="avatar" class="avatar-img rounded-circle">
                    {%else%}
                    <img src="https://res.cloudinary.com/ouproject/image/upload/v1639923764/img/default_avatar_mvuqgu.png"
                        alt="avatar" class="avatar-img rounded-circle">
                    {%endif%}
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="user-profile text-center">
                {%if infor_current_user == None %}
                <span class="text-danger">Thông tin nhân viên đang được cập nhật <br> Vui lòng quay lại sau !</span>
                {%else%}
                <div class="name">
                    <spanc class="text-primary fw-bold">{{infor_current_user['last_name']}}
                        {{infor_current_user['first_name']}}
                    </spanc>
                </div>
                <div class="job">
                    <span class="text-warning fw-bold">Chức vụ:</span>
                    {{infor_current_user['role']}}
                </div>
                {%if infor_current_user['phone_number']!= None and infor_current_user['phone_number']!= ''%}
                <div class="desc">
                    <span class="text-warning fw-bold">Số điện thoại:</span>
                    {{infor_current_user['phone_number']}}</div>
                {%else%}
                <div class="desc">
                    <span class="text-warning fw-bold">Số điện thoại:</span> <span class="not-fill"> chưa cập nhật</span> 
                </div>
                {%endif%}
                {%endif%}
            </div>
        </div>
    </div>
</div>