<div class="card">
    <div class="card-header">
        <div class="card-head-row">
            <div class="card-title">Danh sách khách hàng trong ngày</div>
        </div>
    </div>
    <div class="card-body stats-scroll">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover model-list">
                <thead class="bg-thead">
                    <tr>
                        <th>STT</th>
                        <th>Họ tên</th>
                        <th>Giới tính</th>
                        <th>Năm sinh</th>
                        <th>Địa chỉ</th>
                    </tr>
                </thead>
                {% for c in daily_customer_list %}
                <tr>
                    <td>{{daily_customer_list.index(c) + 1}}</td>
                    <td>{{c['fullname']}}</td>
                    <td>{{c['sex']}}</td>
                    <td>{{c['date_of_birth']}}</td>
                    <td>{{c['address']}}</td>
                </tr>
                {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>