<div class="card">
    <div class="card-header">
        <div class="card-title">Thông tin đăng ký</div>
        <div class="card-category">Nhập thông tin khách hàng đăng ký trực tiếp</div>
    </div>

    <form id="customer_info" action="/api/nurse/customer_offline_data" method="post">
        <div class="card-body">
            <div class="form-group form-show-validation row">
                <label for="id_card" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">CCCD khách hàng <span
                        class="required-label">*</span></label>
                <div class="col-lg-6 col-md-9 col-sm-8">
                    <input type="text" class="form-control" id="id_card" name="id_card"
                        placeholder="Nhập căn cước công dân..." required>
                </div>
            </div>

            <div class="form-group form-show-validation row">
                <label for="last_name" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Họ và tên đệm <span
                        class="required-label">*</span></label>
                <div class="col-lg-6 col-md-9 col-sm-8">
                    <input type="text" class="form-control" id="last_name" name="last_name"
                        placeholder="Nhập họ và tên đệm..." required>
                </div>
            </div>
            <div class="form-group form-show-validation row">
                <label for="first_name" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Tên <span
                        class="required-label">*</span></label>
                <div class="col-lg-6 col-md-9 col-sm-8">
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Nhập tên..."
                        required>
                </div>
            </div>

            <div class="separator-solid"></div>
            <div class="form-group form-show-validation row">
                <label class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Giới tính <span
                        class="required-label">*</span></label>
                <div class="col-lg-6 col-md-9 col-sm-8 d-flex align-items-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="male" name="sex" class="custom-control-input" value="male" checked>
                        <label class="custom-control-label" for="male">Nam</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="female" name="sex" class="custom-control-input" value="female">
                        <label class="custom-control-label" for="female">Nữ</label>
                    </div>
                </div>
            </div>

            <div class="form-group form-show-validation row">
                <label for="date_of_birth" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Ngày sinh <span
                        class="required-label">*</span></label>
                <div class="col-lg-6 col-md-9 col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" id="date_of_birth" name="date_of_birth" required="">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-calendar-o"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="separator-solid"></div>
            <div class="form-group form-show-validation row">
                <label for="email" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Email</label>
                <div class="col-lg-6 col-md-9 col-sm-8">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Nhập email...">
                </div>
            </div>

            <div class="form-group form-show-validation row">
                <label for="address" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Địa chỉ <span
                        class="required-label">*</span></label>
                <div class="col-lg-6 col-md-9 col-sm-8">
                    <input type="text" class="form-control" id="address" name="address" placeholder="Nhập địa chỉ..."
                        required="">
                </div>
            </div>

            <div class="form-group form-show-validation row">
                <label for="phone_number" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Số điện thoại
                    <span class="required-label">*</span></label>
                <div class="col-lg-6 col-md-9 col-sm-8">
                    <input type="number" class="form-control" id="phone_number" name="phone_number"
                        placeholder="Nhập số điện thoại" required=""
                        pattern="/([0-9]{10})|(\([0-9]{3}\)\s+[0-9]{3}\-[0-9]{4})/">
                </div>
            </div>

        </div>

        <div class="card-action">
            <div class="row">
                <div class="col-md-12">
                    <input class="btn btn-success" type="submit" value="Xác nhận" id="confirm">
                    <button class="btn btn-danger" id="reset">Làm mới</button>
                </div>
            </div>
        </div>
    </form>
</div>