
<form action="/api/nurse/customer_offline_data" method="post">
    <div class="form-group">
        <label for="id_card">Can cuoc cong dan khach hang</label>
        <input type="text" name="id_card" class="form-control" placeholder="Nhap can cuoc cong dan" id="id_card"
            required>
    </div>
    <div class="form-group">
        <label for="last_name">Ho va ten dem</label>
        <input type="text" class="form-control" name="last_name" placeholder="Nhap ho va ten dem" id="last_name"
            required>
    </div>

    <div class="form-group">
        <label for="first_name">Ten</label>
        <input type="text" class="form-control" name="first_name" placeholder="Nhap ten" id="first_name" required>
    </div>

    <div class="form-group">
        <label for="male">Nam</label>
        <input type="radio" name="sex" class="form-control" value="male" id="male" checked>
        <label for="female">Nu</label>
        <input type="radio" name="sex" class="form-control" value="female" id="female">
    </div>

    <div class="form-group">
        <label for="date_of_birth">Ngay thang nam sinh</label>
        <input type="date" class="form-control" name="date_of_birth" placeholder="Nhap ngay thang nam"
            id="date_of_birth" required>
    </div>

    <div class="form-group">
        <label for="address">Dia chi</label>
        <input type="text" class="form-control" name="address" placeholder="Nhap dia chi" id="address" required>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="mail" class="form-control" name="email" placeholder="Nhap email" id="address">
    </div>

    <div class="form-group">
        <label for="phone_number">So dien thoai</label>
        <input type="tel" class="form-control" name="phone_number" placeholder="Nhap so dien thoai" id="phone_number">
    </div>

    <div class="form-group">
        <input type="submit" id="confirm" value="Xac nhan"></input>
    </div>
    
</form>