<div class="hc-about hc-spacer-top hc-spacer-bottom" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <div class="hc-about-img">
                    <div class="hc-image-style">
                        <img src="https://res.cloudinary.com/ouproject/image/upload/v1639921915/img/about/about_pbzqmw.jpg" alt="about" />
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="hc-about-content">
                    <div class="hc-heading-wrap">
                        <h2 class="hc-sub-heading">Về chúng tôi</h2>
                        <h1 class="hc-heading">
                            Sức khoẻ của bạn là sứ mệnh của chúng tôi
                        </h1>
                    </div>
                    <ul class="nav hc-tab-list">
                        <li class="nav-item">
                            <a class="active" data-toggle="tab" href="#work">Công việc</a>
                        </li>
                        <li class="nav-item">
                            <a id="profile-tab" data-toggle="tab" href="#mission">Nhiệm vụ</a>
                        </li>
                        <li class="nav-item">
                            <a id="profile-tab" data-toggle="tab" href="#achievement">Thành tựu</a>
                        </li>
                    </ul>
                    <div class="tab-content hc-tab-content">
                        <div class="tab-pane fade show active" id="work">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Maiores perspiciatis architecto doloribus consequuntur
                            reiciendis mollitia, blanditiis placeat quidem eaque,
                            aspernatur, ex provident debitis quam. Modi eaque totam ex
                            perferendis dignissimos.
                        </div>
                        <div class="tab-pane fade" id="mission">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
                            commodi quos consequuntur harum, culpa fugiat cupiditate quo
                            iusto assumenda praesentium fuga dolor pariatur aliquid amet
                            veniam. Illo quia dolore sint?
                        </div>
                        <div class="tab-pane fade" id="achievement">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Tempore ullam repellat temporibus labore, repellendus quod
                            ipsa. Totam delectus ullam blanditiis placeat expedita nobis
                            tenetur culpa inventore, maxime, quas reprehenderit iusto.
                        </div>
                    </div>
                    <img src="https://res.cloudinary.com/ouproject/image/upload/v1639921914/img/about/hc-signature_peu2hj.png" alt="signature" />
                </div>
            </div>
        </div>
    </div>
</div>