<div class="hc-about hc-spacer-top hc-spacer-bottom" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <div class="hc-about-img">
                    <div class="hc-image-style">
                        <img src="https://res.cloudinary.com/ouproject/image/upload/v1639921915/img/about/about_pbzqmw.jpg"
                            alt="about" />
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="hc-about-content">
                    <div class="hc-heading-wrap">
                        <h2 class="hc-sub-heading">Về chúng tôi</h2>
                        <h1 class="hc-heading">
                            Sức khoẻ của bạn là sứ mệnh của chúng tôi
                        </h1>
                    </div>
                    <ul class="nav hc-tab-list">
                        <li class="nav-item">
                            <a class="active" data-toggle="tab" href="#work">Công việc</a>
                        </li>
                        <li class="nav-item">
                            <a id="profile-tab" data-toggle="tab" href="#mission">Nhiệm vụ</a>
                        </li>
                        <li class="nav-item">
                            <a id="profile-tab" data-toggle="tab" href="#achievement">Thành tựu</a>
                        </li>
                    </ul>
                    <div class="tab-content hc-tab-content">
                        <div class="tab-pane fade show active" id="work">
                            Chúng tôi luôn sẵn sàng chăm sóc bạn ân cần như chính thành viên trong gia đình. “CHĂM SÓC
                            TỐT HƠN – SỐNG KHỎE MẠNH HƠN” là điều chúng tôi muốn hướng đến cùng bạn, giúp bạn tận hưởng
                            trọn vẹn niềm vui cuộc sống với một nền sức khỏe vững chắc.
                        </div>
                        <div class="tab-pane fade" id="mission">
                            Phòng Khám Trung Thành luôn coi khách hàng là trọng tâm, chúng tôi luôn sẵn sàng chăm sóc
                            bạn ân cần.
                        </div>
                        <div class="tab-pane fade" id="achievement">
                            Năm 2000, 2001, 2007, 2008: Bộ Y tế tặng bằng khen; Từ 2002 - 2009 Bộ Y tế công nhận đạt
                            danh hiệu Bệnh viện xuất sắc toàn diện.
                        </div>
                    </div>
                    <img src="https://res.cloudinary.com/ouproject/image/upload/v1639921914/img/about/hc-signature_peu2hj.png"
                        alt="signature" />
                </div>
            </div>
        </div>
    </div>
</div>