<div class="modal fade " id="hc-appointment" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title">Đặt lịch</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="hc-contact-box">
                    {%if amount_remaining_slot > 0 %}
                    <form action="/api/client/online_registration" , method="post">
                        <!-- <input type="text" > -->
                        <div class="form-group">
                            <label for="id_card">Căn cước công dân</label>
                            <input type="number" placeholder="Căn cước công dân" name="id_card" id="id_card"
                                minlength="8" maxlength="12" class="require " required>
                        </div>
                        <div class="form-group">
                            <label for="last_name">Họ và tên đệm</label>
                            <input type="text" placeholder="Họ và tên đệm" name="last_name" id="last_name"
                                maxlength="50" class="require " required>
                        </div>
                        <div class="form-group">
                            <label for="first_name">Tên</label>
                            <input type="text" placeholder="Tên" name="first_name" id="first_name" maxlength="20"
                                class="require " required />
                        </div>
                        <div class="form-group">
                            <label for="male">Nam</label>
                            <input type="radio" name="sex" value="male" class="require " id="male" checked>
                            <label for="female">Nữ</label>
                            <input type="radio" name="sex" value="female" class="require" id="female">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" placeholder="Email" name="email" id="email" class="require"
                                data-valid="email" data-error="Email should be valid." maxlength="50" />
                        </div>
                        <div class="form-group">
                            <label for="phone_number">Số điện thoại</label>
                            <input type="tel" placeholder="Số điện thoại" name="phone_number" id="phone_number"
                                minlength="10" maxlength="12" class="require " required />
                        </div>
                        <div class="form-group">
                            <label for="address">Địa chỉ</label>
                            <input type="text" placeholder="Địa chỉ" name="address" id="address" maxlength="200"
                                class="require " required />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="hc-btn" id="cfm_btn" value="Xác nhận" />
                        </div>
                        <div class="response"></div>
                    </form>

                    {%else%}
                    <p>So luot dang ki trong ngay da het vui long quay lai sau</p>
                    {%endif%}

                </div>
            </div>
        </div>
    </div>
</div>