<div class="modal fade " id="hc-appointment" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title">Đặt lịch</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="hc-contact-box">
                    {%if amount_remaining_slot > 0 %}
                    <form action="/api/client/online_registration" , method="post">
                        <!-- <input type="text" > -->
                        <div class="form-group">
                            <label for="id_card">Căn cước công dân</label>
                            <input type="text" placeholder="Căn cước công dân" name="id_card" id="id_card"
                                pattern="[0-9]{10,12}" class="require " required
                                title="Chỉ gồm chữ số (0-9). Chiều dài từ 10 đến 12 kí tự" />
                        </div>
                        <div class="form-group">
                            <label for="last_name">Họ và tên đệm</label>
                            <input type="text" placeholder="Họ và tên đệm" name="last_name" id="last_name"
                                pattern=".{1,50}" class="require " required
                                title="Chiều dài từ 1 đến 50 ký tự" />
                        </div>
                        <div class="form-group">
                            <label for="first_name">Tên</label>
                            <input type="text" placeholder="Tên" name="first_name" id="first_name"
                                pattern=".{1,20}" class="require " required
                                title="Chiều dài từ 1 đến 20 ký tự" />
                        </div>

                        <div class="form-group">
                            <label for="male">Nam</label>
                            <input type="radio" name="sex" value="male" class="require " id="male" checked>
                            <label for="female">Nữ</label>
                            <input type="radio" name="sex" value="female" class="require" id="female">
                        </div>
                        <div class="form-group">
                            <label for="date_of_birth">Ngày sinh</label>
                            <input type="date" class="require" id="date_of_birth" name="date_of_birth" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" placeholder="Email" name="email" id="email" class="require"
                                data-valid="email" data-error="Email should be valid." maxlength="50" />
                        </div>
                        <div class="form-group">
                            <label for="phone_number">Số điện thoại</label>
                            <input type="tel" placeholder="Số điện thoại" name="phone_number" id="phone_number"
                                pattern="[0-9]{10,12}" class="require " required
                                title="Chỉ gồm các số (0-9). Chiều dài từ 10 đến 12 ký tự" />
                        </div>
                        <div class="form-group">
                            <label for="address">Địa chỉ</label>
                            <input type="text" placeholder="Địa chỉ" name="address" id="address" pattern=".{1,200}"
                                class="require " required title="Chiều dài từ 1 đến 200 ký tự" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="hc-btn" id="cfm_btn" value="Xác nhận" />
                        </div>
                        <div class="response"></div>
                    </form>
                    {%else%}
                    <p>So luot dang ki trong ngay da het vui long quay lai sau</p>
                    {%endif%}

                </div>
            </div>
        </div>
    </div>
</div>