<div class="hc-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="hc-banner-content">
                    <h2 class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Phòng mạch Trung
                        Thành
                    </h2>
                    <h1 class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">Đặt lịch hẹn trực
                        tuyến với bác sỹ chuyên gia</h1>
                    <div class="hc-banner-box wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">
                        <p>
                            Thành lập năm 2010, Phòng Khám Medic Dĩ An tự hào là thương hiệu phòng khám có bề dầy 10 năm
                            kinh nghiệm chăm sóc và phục vụ khách hàng.
                        </p>
                    </div>
                    <a href="javascript:;" class="hc-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1s">Tìm
                        hiểu thêm</a>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="hc-banner-img">
                    <img src="https://res.cloudinary.com/ouproject/image/upload/v1639921912/img/homepage/001_jb4euh.png"
                        alt="image" />
                </div>
            </div>
        </div>

        <div class="hc-banner-shape">
            <span></span>
        </div>
    </div>
</div>