<div class="hc-blog hc-spacer-top" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hc-heading-wrap text-center">
                    <h2 class="hc-sub-heading">Bài viết</h2>
                    <h1 class="hc-heading">Bài viết mới nhất</h1>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="hc-blog-box">
                    <div class="hc-blog-img">
                        <a href="javascript:;"><img
                                src="https://res.cloudinary.com/ouproject/image/upload/v1639921910/img/blog/blog1_silmb9.jpg"
                                alt="blog" /></a>
                    </div>
                    <div class="hc-blog-data">
                        <div class="hc-blog-head">
                            <a href="javascript:;" class="hc-blog-date">23, Tháng 4 2021</a>
                            <ul class="hc-blog-social">
                                <li>
                                    <a href="javacript:;"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="javacript:;"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="javacript:;"><i class="fab fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                        <a href="javascript:;">
                            <h1 class="hc-blog-title">
                                CHĂM LO SỨC KHỎE, MIỄN PHÍ VÉ XE
                            </h1>
                        </a>
                        <a href="javascript:;" class="hc-blog-more">Xem chi tiết <i
                                class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="hc-blog-box">
                    <div class="hc-blog-img">
                        <a href="javascript:;"><img
                                src="https://res.cloudinary.com/ouproject/image/upload/v1639921912/img/blog/blog2_czazdq.jpg"
                                alt="blog" /></a>
                    </div>
                    <div class="hc-blog-data">
                        <div class="hc-blog-head">
                            <a href="javascript:;" class="hc-blog-date">23, Tháng 4 2021</a>
                            <ul class="hc-blog-social">
                                <li>
                                    <a href="javacript:;"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="javacript:;"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="javacript:;"><i class="fab fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                        <a href="javascript:;">
                            <h1 class="hc-blog-title">
                                QUE CẤY TRÁNH THAI – Những điều cần biết
                            </h1>
                        </a>
                        <a href="javascript:;" class="hc-blog-more">Xem chi tiết <i
                                class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="hc-blog-box">
                    <div class="hc-blog-img">
                        <a href="javascript:;"><img
                                src="https://res.cloudinary.com/ouproject/image/upload/v1639921914/img/blog/blog3_g1pgan.jpg"
                                alt="blog" /></a>
                    </div>
                    <div class="hc-blog-data">
                        <div class="hc-blog-head">
                            <a href="javascript:;" class="hc-blog-date">23, Tháng 4 2021</a>
                            <ul class="hc-blog-social">
                                <li>
                                    <a href="javacript:;"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="javacript:;"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="javacript:;"><i class="fab fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                        <a href="javascript:;">
                            <h1 class="hc-blog-title">
                                Quà tặng sức khoẻ Ngày của Mẹ
                            </h1>
                        </a>
                        <a href="javascript:;" class="hc-blog-more">Xem chi tiết <i
                                class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>