<div class="hc-contact hc-spacer-high hc-spacer-bottom" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <div class="hc-heading-wrap">
                    <h2 class="hc-sub-heading">Liên hệ</h2>
                    <h1 class="hc-heading">Cách thức liên hệ</h1>
                </div>
                <div class="hc-map-box">
                    <img src="https://res.cloudinary.com/ouproject/image/upload/v1639921918/img/map_a4epmy.png" alt="map" />
                    <ul>
                        <li>
                            <span><i class="fas fa-plus"></i></span>
                            <div class="hc-map-address">
                                <p>371 Nguyễn Kiệm, Gò Vấp Q.3</p>
                            </div>
                        </li>
                        <li>
                            <span><i class="fas fa-plus"></i></span>
                            <div class="hc-map-address">
                                <p>371 Nguyễn Kiệm, Gò Vấp Q.3</p>
                            </div>
                        </li>
                        <li>
                            <span><i class="fas fa-plus"></i></span>
                            <div class="hc-map-address">
                                <p>371 Nguyễn Kiệm, Gò Vấp Q.3</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="hc-contact-box">
                    <form>
                        <label>Họ và tên</label>
                        <input type="text" name="full_name" id="full_name" class="require" />
                        <label>Email</label>
                        <input type="email" name="email" id="email" class="require" data-valid="email"
                            data-error="Email should be valid." />
                        <label>Lời nhắn</label>
                        <textarea name="message" id="message" class="require"></textarea>
                        <button type="submit" class="hc-btn submitForm">
                            Xác nhận
                        </button>
                        <div class="response"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>