<div class="hc-counter hc-spacer-top hc-spacer-bottom" id="counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hc-heading-wrap text-center">
                    <h2 class="hc-sub-heading">Thành tựu</h2>
                    <h1 class="hc-heading">Vì sao nên lựa chọn chúng tôi ?</h1>
                </div>
            </div>
        </div>

        <div class="hc-counter-wrap">
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="hc-counter-box">
                        <div class="hc-count-no">
                            <h2 class="counter-value" data-count="8600">0</h2>
                        </div>
                        <div class="hc-count-data">
                            <div class="hc-count-icon">
                                <img src="https://res.cloudinary.com/ouproject/image/upload/v1639921909/img/counter/counter1_guvgpv.png" alt="counter" />
                            </div>
                            <div class="hc-count-head">
                                <h2>Ca thành công</h2>
                            </div>
                        </div>
                        <p>
                            Aenean facilisis sodales est neci Morbi vitapurus on Est
                            facilisisro convallis facilisisro
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="hc-counter-box">
                        <div class="hc-count-no">
                            <h2 class="counter-value" data-count="145">0</h2>
                        </div>
                        <div class="hc-count-data">
                            <div class="hc-count-icon">
                                <img src="https://res.cloudinary.com/ouproject/image/upload/v1639921909/img/counter/counter2_ghqptl.png" alt="counter" />
                            </div>
                            <div class="hc-count-head">
                                <h2>Bác sỹ đạt chuẩn</h2>
                            </div>
                        </div>
                        <p>
                            Aenean facilisis sodales est neci Morbi vitapurus on Est
                            facilisisro convallis facilisisro
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="hc-counter-box">
                        <div class="hc-count-no">
                            <h2 class="counter-value" data-count="25">0</h2>
                        </div>
                        <div class="hc-count-data">
                            <div class="hc-count-icon">
                                <img src="https://res.cloudinary.com/ouproject/image/upload/v1639921909/img/counter/counter3_blqs28.png" alt="counter" />
                            </div>
                            <div class="hc-count-head">
                                <h2>Nhiều năm kinh nghiệm</h2>
                            </div>
                        </div>
                        <p>
                            Aenean facilisis sodales est neci Morbi vitapurus on Est
                            facilisisro convallis facilisisro
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="hc-counter-box">
                        <div class="hc-count-no">
                            <h2>24x7</h2>
                        </div>
                        <div class="hc-count-data">
                            <div class="hc-count-icon">
                                <img src="https://res.cloudinary.com/ouproject/image/upload/v1639921909/img/counter/counter4_pqrhza.png" alt="counter" />
                            </div>
                            <div class="hc-count-head">
                                <h2>Nhân viên</h2>
                            </div>
                        </div>
                        <p>
                            Aenean facilisis sodales est neci Morbi vitapurus on Est
                            facilisisro convallis facilisisro
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>