<div class="hc-contact hc-spacer-high hc-spacer-bottom" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <div class="hc-heading-wrap">
                    <h2 class="hc-sub-heading">Liên hệ</h2>
                    <h1 class="hc-heading">Phản hồi khách hàng</h1>
                </div>
                <div class="hc-map-box">
                    <img src="https://res.cloudinary.com/ouproject/image/upload/v1639921918/img/map_a4epmy.png"
                        alt="map" />
                    <ul>
                        <li>
                            <span><i class="fas fa-plus"></i></span>
                            <div class="hc-map-address">
                                <p>371 Nguyễn Kiệm, Gò Vấp Q.3</p>
                            </div>
                        </li>
                        <li>
                            <span><i class="fas fa-plus"></i></span>
                            <div class="hc-map-address">
                                <p>371 Nguyễn Kiệm, Gò Vấp Q.3</p>
                            </div>
                        </li>
                        <li>
                            <span><i class="fas fa-plus"></i></span>
                            <div class="hc-map-address">
                                <p>371 Nguyễn Kiệm, Gò Vấp Q.3</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="hc-contact-box">
                    <form>
                        <label for="customer_fullname">Họ và tên <span> * </span></label>
                        <input type="text" id="customer_fullname" class="require" />
                        <label for="customer_email">Email <span> * </span></label>
                        <input type="email" id="customer_email" class="require"  />
                        <label for = "feedback_subject">Tiêu đề <span> * </span> </label>
                        <input type="text" id="feedback_subject" class="require" />
                        <label for ="feedback_content">Lời nhắn <span> * </span></label>
                        <textarea id="feedback_content" class="require"></textarea>
                    </form>
                    <button class="hc-btn" id="feed_back_cfm">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</div>