<footer class="hc-footer hc-spacer-top hc-spacer-bottom"
    style="background: url(https://res.cloudinary.com/ouproject/image/upload/v1639921910/img/homepage/footer-bg_uts0hl.svg);background-repeat: no-repeat;">
    <div class="container hc-footer-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="hc-footer-logo">
                    <a href="index.html"><img
                            src="https://res.cloudinary.com/ouproject/image/upload/v1639921914/img/hc-logo-white_wn8zqv.svg"
                            alt="logo" /></a>
                </div>
            </div>
            <div class="col-lg-12">
                <ul class="hc-footer-contact-list">
                    <li>
                        <div class="hc-foot-contact-box">
                            <h2>Liên hệ</h2>
                            <p>CÔNG TY TNHH PHÒNG KHÁM ĐA KHOA TRUNG THÀNH</p>
                            <p>Địa chỉ: 371 Nguyễn Kiệm, Q.Gò Vấp</p>
                            <p>Email: <a href="mailto:ouproject365@gmail.com"></a></p>
                            <p>Điện thoại: 028 39272 666</p>
                            <p>Hotline: 0906 843 118</p>
                        </div>
                    </li>
                    <li>
                        <div class="hc-foot-contact-box">
                            <h2>Giờ làm việc</h2>
                            <p>Thứ 2 - Thứ 7: 4h đến 18h</p>
                            <p>Chủ Nhật: 4h đến 12h</p>
                        </div>
                    </li>
                    <li>
                        <div class="hc-foot-contact-box">
                            <h2>CHÍNH SÁCH</h2>
                            <p>Chính sách bảo mật</p>
                            <p>Chính sách thanh toán </p>
                            <p>Chính sách vận chuyển</p>
                            <p>Chính sách đổi trả - hoàn tiền</p>
                            <p>Điều khoản sử dụng</p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!-- copyright start -->
    <div class="hc-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hc-copyright-box">
                        <p>Copyright © 2021 Health Care. All Right Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright end -->
    <div id="particles-1"></div>
</footer>