<footer class="hc-footer hc-spacer-top hc-spacer-bottom"
style="background: url(https://res.cloudinary.com/ouproject/image/upload/v1639921910/img/homepage/footer-bg_uts0hl.svg);">
<div class="container hc-footer-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="hc-footer-logo">
                <a href="index.html"><img src="https://res.cloudinary.com/ouproject/image/upload/v1639921914/img/hc-logo-white_wn8zqv.svg" alt="logo" /></a>
            </div>
        </div>
        <div class="col-lg-12">
            <ul class="hc-footer-contact-list">
                <li>
                    <div class="hc-foot-contact-box">
                        <h2>Địa chỉ phòng khám</h2>
                        <p>371 Nguyễn Kiệm, Q.Gò Vấp</p>
                    </div>
                </li>
                <li>
                    <div class="hc-foot-contact-box">
                        <h2>Điện thoại</h2>
                        <p>(+01) 123 456 7890</p>
                    </div>
                </li>
                <li>
                    <div class="hc-foot-contact-box">
                        <h2>Email</h2>
                        <p>ouproject365@gmail.com</p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
<!-- copyright start -->
<div class="hc-copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hc-copyright-box">
                    <p>Copyright © 2021 Health Care. All Right Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- copyright end -->
<div id="particles-1"></div>
</footer>