<!-- top header start -->
<div class="hc-top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="hc-top-head-left hc-top-head-div">
                    <p>
                        <span><i class="far fa-clock"></i></span>
                        Giờ mở cửa : 8.00 - 17.00 (Thứ 2 - Thứ 7)
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="hc-top-head-right hc-top-head-div">
                    <p>
                        <span><i class="fas fa-phone-volume"></i></span>
                        Điện thoại: (+84) 123 456 789
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- top header end -->

<!-- main header start -->
<div class="hc-main-header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="hc-logo">
                    <a href="index.html">
                        <img src="../static/js/plugin/loader-page/logo.svg" alt="logo"
                            style="width: 80px; height: auto" />
                    </a>
                </div>
            </div>

            <div class="col-md-9 col-sm-6">
                <div class="hc-main-head-flex">
                    <div class="hc-main-menu">
                        <div class="hc-navbar">
                            <ul>
                                <li class="hc-has-submenu">
                                    <a href="#home" class="page-scroll active">Trang chủ</a>
                                    <ul class="hc-submenu">
                                        <li>
                                            <a href="../index.html">test</a>
                                        </li>
                                        <li>
                                            <a href="../healthcare/index_new.html">test</a>
                                        </li>
                                        <li class="hc-home-new">
                                            <a href="../healthcare/index.html">test</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#service" class="page-scroll">Dịch Vụ</a>
                                </li>
                                <li>
                                    <a href="#about" class="page-scroll">Về chúng tôi</a>
                                </li>
                                <li>
                                    <a href="#team" class="page-scroll">Đội ngũ</a>
                                </li>
                                <li>
                                    <a href="#contact" class="page-scroll">Liên hệ</a>
                                </li>
                                <li>
                                    <a href="#blog" class="page-scroll">Bài viết</a>
                                </li>
                            </ul>
                        </div>

                        <!-- Toogle menu bars start -->
                        <div class="hc-menu-toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <!-- Toogle menu bars end -->
                    </div>

                    <!-- Appointment start -->
                    <div class="hc-head-btn">
                        <button class="hc-btn" data-toggle="modal" data-target="#hc-appointment">
                            Đặt lịch hẹn
                        </button>
                    </div>
                    <!-- Appointment end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main header end -->