<script src="../static/js/plugin/jquery/jquery.min.js"></script>
<script src="../static/js/plugin/bootstrap/bootstrap.min.js"></script>
<script src="../static/js/client/isotope.pkgd.min.js"></script>
<script src="../static/js/client/swiper.min.js"></script>
<script src="../static/js/plugin/particle/particles.min.js"></script>
<script src="../static/js/client/SmoothScroll.min.js"></script>
<script src="../static/js/plugin/animate/wow.min.js"></script>
<script src="../static/js/client/main.js"></script>
<script src="../static/js/client/doctor-list.js"></script>
<script src="../static/js/client/custom.js"></script>
<script src="../static/js/plugin/cursor/cursor.js"></script>
<script src="https://kit.fontawesome.com/fe78fbcdb4.js"></script>
<script>
    // Section Menu Active
    var scrollLink = $(".page-scroll");
    // Active link switching
    $(window).scroll(function () {
        var scrollbarLocation = $(this).scrollTop();

        scrollLink.each(function () {
            var sectionOffset = $(this.hash).offset().top - 73;
            if (sectionOffset <= scrollbarLocation) {
                $(".hc-navbar>ul>li>a").removeClass("active");
                $(this).addClass("active");
            }
        });
    });

    // var chatbox = document.getElementById('fb-customer-chat');
    // chatbox.setAttribute("page_id", "105825651245887");
    // chatbox.setAttribute("attribution", "biz_inbox");

    // window.fbAsyncInit = function () {
    //     FB.init({
    //         xfbml: true,
    //         version: 'v11.0'
    //     });
    // };

    // (function (d, s, id) {
    //     var js, fjs = d.getElementsByTagName(s)[0];
    //     if (d.getElementById(id)) return;
    //     js = d.createElement(s);
    //     js.id = id;
    //     js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
    //     fjs.parentNode.insertBefore(js, fjs);
    // }(document, 'script', 'facebook-jssdk'));
</script>