<div class="hc-team hc-spacer-top" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hc-heading-wrap text-center">
                    <h2 class="hc-sub-heading">Đội ngũ bác sỹ</h2>
                    <h1 class="hc-heading">Chúng tôi rất hân hạnh phục vụ bạn</h1>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="hc-team-tab-list">
                    <ul id = "major_list">
                    </ul>
                </div>
                <div class="row hc-team-grid justify-content-center" id="doctor_list"></div>
                <ul class="pagination" id="pagination_doctor"></ul>
            </div>
        </div>
    </div>
</div>