<div class="hc-team hc-spacer-top" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hc-heading-wrap text-center">
                    <h2 class="hc-sub-heading">Đội ngũ bác sỹ</h2>
                    <h1 class="hc-heading">Chúng tôi rất hân hạnh phục vụ bạn</h1>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="hc-team-tab-list">
                    <ul>
                        <li>
                            <a data-filter="*" class="hc-team-tab-active">Tất cả</a>
                        </li>
                        <li><a data-filter=".Surgeon" class="">Phẫu thuật</a></li>
                        <li><a data-filter=".Cardiologist" class="">Tim mạch</a></li>
                        <li><a data-filter=".Dentist" class="">Nha khoa</a></li>
                        <li><a data-filter=".Gynecologist" class="">Phụ khoa</a></li>
                        <li><a data-filter=".Pediatricians" class="">Nhi khoa</a></li>
                    </ul>
                </div>

                <div class="row hc-team-grid justify-content-center" id="doctor-list"></div>
            </div>
        </div>
    </div>
</div>