<div class="hc-testimonial hc-spacer-top hc-spacer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hc-heading-wrap text-center">
                    <h2 class="hc-sub-heading">Nhận xét</h2>
                    <h1 class="hc-heading">Nhận xét từ khách hàng</h1>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-2">
                <div class="hc-testi-box">
                    <div class="hc-testi-thumb">
                        <div class="swiper-container gallery-thumbs">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="hc-testi-img">
                                        <img src="https://res.cloudinary.com/ouproject/image/upload/v1639921916/img/team/team1_irfyhk.jpg" alt="image" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hc-testi-img">
                                        <img src="https://res.cloudinary.com/ouproject/image/upload/v1639921916/img/team/team2_ylquip.jpg" alt="image" />
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hc-testi-img">
                                        <img src="https://res.cloudinary.com/ouproject/image/upload/v1639921918/img/team/team3_ldjnqk.jpg" alt="image" />
                                    </div>
                                </div>
                            </div>
                            <div class="hc-testi-nav">
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>
                    <div class="hc-testi-slide">
                        <div class="swiper-container gallery-top">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="hc-testi-data">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 975.036 975.036">
                                            <path d="M925.036,57.197h-304c-27.6,0-50,22.4-50,50v304c0,27.601,22.4,50,50,50h145.5c-1.9,79.601-20.4,143.3-55.4,191.2
                                                c-27.6,37.8-69.399,69.1-125.3,93.8c-25.7,11.3-36.8,41.7-24.8,67.101l36,76c11.6,24.399,40.3,35.1,65.1,24.399
                                                c66.2-28.6,122.101-64.8,167.7-108.8c55.601-53.7,93.7-114.3,114.3-181.9c20.601-67.6,30.9-159.8,30.9-276.8v-239
                                                C975.036,79.598,952.635,57.197,925.036,57.197z"></path>
                                            <path
                                                d="M106.036,913.497c65.4-28.5,121-64.699,166.9-108.6c56.1-53.7,94.4-114.1,115-181.2c20.6-67.1,30.899-159.6,30.899-277.5
                                                v-239c0-27.6-22.399-50-50-50h-304c-27.6,0-50,22.4-50,50v304c0,27.601,22.4,50,50,50h145.5c-1.9,79.601-20.4,143.3-55.4,191.2
                                                c-27.6,37.8-69.4,69.1-125.3,93.8c-25.7,11.3-36.8,41.7-24.8,67.101l35.9,75.8C52.336,913.497,81.236,924.298,106.036,913.497z">
                                            </path>
                                        </svg>
                                        <p>
                                            Consectetur adipisicing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim
                                            ad minim veniam, quis nostrud exercitation ullamco
                                            laboris nisi ut aliquip ex ea commodo consequat.
                                            Duis aute irure dolor in reprehenderit in voluptate
                                            velit esse cillum dolore eu fugiat nulla pariatur.
                                        </p>
                                        <h4>Dr. Johnson</h4>
                                        <h5>Bác sỹ tim mạch</h5>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hc-testi-data">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 975.036 975.036">
                                            <path d="M925.036,57.197h-304c-27.6,0-50,22.4-50,50v304c0,27.601,22.4,50,50,50h145.5c-1.9,79.601-20.4,143.3-55.4,191.2
                                                c-27.6,37.8-69.399,69.1-125.3,93.8c-25.7,11.3-36.8,41.7-24.8,67.101l36,76c11.6,24.399,40.3,35.1,65.1,24.399
                                                c66.2-28.6,122.101-64.8,167.7-108.8c55.601-53.7,93.7-114.3,114.3-181.9c20.601-67.6,30.9-159.8,30.9-276.8v-239
                                                C975.036,79.598,952.635,57.197,925.036,57.197z"></path>
                                            <path
                                                d="M106.036,913.497c65.4-28.5,121-64.699,166.9-108.6c56.1-53.7,94.4-114.1,115-181.2c20.6-67.1,30.899-159.6,30.899-277.5
                                                v-239c0-27.6-22.399-50-50-50h-304c-27.6,0-50,22.4-50,50v304c0,27.601,22.4,50,50,50h145.5c-1.9,79.601-20.4,143.3-55.4,191.2
                                                c-27.6,37.8-69.4,69.1-125.3,93.8c-25.7,11.3-36.8,41.7-24.8,67.101l35.9,75.8C52.336,913.497,81.236,924.298,106.036,913.497z">
                                            </path>
                                        </svg>
                                        <p>
                                            Duis aute irure dolor in reprehenderit in voluptate
                                            velit esse cillum dolore eu fugiat nulla pariatur.
                                            Consectetur adipisicing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim
                                            ad minim veniam, quis nostrud exercitation ullamco
                                            laboris nisi ut aliquip ex ea commodo consequat.
                                        </p>
                                        <h4>Dr. Nancy</h4>
                                        <h5>Bác sỹ nha khoa</h5>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hc-testi-data">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 975.036 975.036">
                                            <path d="M925.036,57.197h-304c-27.6,0-50,22.4-50,50v304c0,27.601,22.4,50,50,50h145.5c-1.9,79.601-20.4,143.3-55.4,191.2
                                                c-27.6,37.8-69.399,69.1-125.3,93.8c-25.7,11.3-36.8,41.7-24.8,67.101l36,76c11.6,24.399,40.3,35.1,65.1,24.399
                                                c66.2-28.6,122.101-64.8,167.7-108.8c55.601-53.7,93.7-114.3,114.3-181.9c20.601-67.6,30.9-159.8,30.9-276.8v-239
                                                C975.036,79.598,952.635,57.197,925.036,57.197z"></path>
                                            <path
                                                d="M106.036,913.497c65.4-28.5,121-64.699,166.9-108.6c56.1-53.7,94.4-114.1,115-181.2c20.6-67.1,30.899-159.6,30.899-277.5
                                                v-239c0-27.6-22.399-50-50-50h-304c-27.6,0-50,22.4-50,50v304c0,27.601,22.4,50,50,50h145.5c-1.9,79.601-20.4,143.3-55.4,191.2
                                                c-27.6,37.8-69.4,69.1-125.3,93.8c-25.7,11.3-36.8,41.7-24.8,67.101l35.9,75.8C52.336,913.497,81.236,924.298,106.036,913.497z">
                                            </path>
                                        </svg>
                                        <p>
                                            Duis aute irure dolor in reprehenderit in voluptate
                                            velit esse cillum dolore eu fugiat nulla pariatur.
                                            Consectetur adipisicing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim
                                            ad minim veniam, quis nostrud exercitation ullamco
                                            laboris nisi ut aliquip ex ea commodo consequat.
                                        </p>
                                        <h4>Dr. Jorz Maxwell</h4>
                                        <h5>Bác sỹ nha khoa</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>