<div class="col-xl-4">
    <div class="card doctor-form-customer">
        <div class="card-header">
            <div class="card-head-row">
                <div class="card-title">
                    <span>Bác sỹ: <span id='current_doctor_info'></span></span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group id-card-choice">
                    <label for="id_card_input">CCCD khách hàng<strong style="color: red"> *</strong></label>
                    <input type="text" class="form-control" placeholder="Nhập thông tin CCCD" class="form-control"
                        name="id_card_input" id="id_card_input" required>
                    <div id="result_id_card" class="show-hint"></div>

                </div>
                <div class="form-group">
                    <label for="symptom">Triệu chứng<strong style="color: red"> *</strong></label>
                    <textarea class="form-control" id="symptom" rows="3"
                        placeholder="Nhập thông tin các triệu chứng"></textarea>
                </div>
                <div class="form-group">
                    <label for="predicted_disease">Bệnh chuẩn đoán<strong style="color: red"> *</strong></label>
                    <textarea class="form-control" id="predicted_disease" rows="3"
                        placeholder="Nhập thông tin bệnh chuẩn đoán"></textarea>
                </div>
            </form>
        </div>

    </div>
</div>