<div class="col-xl-8">
    <div class="card">
        <div class="card-header">
            <div class="card-head-row">
                <div class="card-title">Danh sách thuốc cần dùng</div>
                <div class="card-tools">
                    <a href="javascript:;" data-toggle="modal" data-target="#add_medicine_modal"
                        class="btn btn-xs btn-secondary btn-sm" id="add_medicine">Thêm</a>
                </div>
            </div>
        </div>
        <div class="card-body stats-scroll">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover model-list">
                    <thead>
                        <tr>
                            <th>Thao tác</th>
                            <th>STT</th>
                            <th>Tên thuốc</th>
                            <th>Số lượng</th>
                            <th>Đơn vị</th>
                            <th>Liều dùng</th>
                            <th>Phương pháp sử dụng</th>
                        </tr>
                    </thead>

                    <tbody id='medicine_datas'>
                    </tbody>
                </table>
            </div>

            <div class="modal fade doctor-modal" id="add_medicine_modal" tabindex="-1" role="dialog"
                aria-labelledby="add_medicine_modal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Nhập thông tin</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="add_medicine_form">
                                <div class="form-row">
                                    <div class="col-12">
                                        <div class="form-group medicine-name-choice">
                                            <label for="medicine_name_input">Tên thuốc
                                                <strong style="color: red">*</strong>
                                            </label>
                                            <input type="text" class="form-control" id="medicine_name_input"
                                                placeholder="Nhập tên thuốc" autocomplete="off" required>
                                            <div id='result_name_medicine' class="show-hint"></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="medicine_amount">Số lượng
                                                <strong style="color: red">*</strong>
                                            </label>
                                            <input type="number" class="form-control" id="medicine_amount" value="1"
                                                required>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="dosage">Liều dùng
                                        <strong style="color: red">*</strong>
                                    </label>
                                    <textarea class="form-control" id="dosage" rows="3"
                                        placeholder="Nhập thông tin liều dùng" required></textarea>
                                </div>


                                <div class="form-group">
                                    <label for="using_method">Phương pháp sử dụng
                                        <strong style="color: red">*</strong>
                                    </label>
                                    <textarea class="form-control" id="using_method" rows="3"
                                        placeholder="Nhập thông tin phương pháp sử dụng" required></textarea>
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id='cfm_button' data-dismiss="modal">Xác
                                nhận</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>