@media screen and (min-width: 1600px) {
  .container {
    max-width: 1480px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
  .hc-submenu {
    background: #fff;
    -webkit-box-shadow: 0 0px 20px 0 #00000008;
            box-shadow: 0 0px 20px 0 #00000008;
    border-top: 3px solid #fd9678;
    border-bottom: 3px solid #fd9678;
    position: absolute;
    top: 100%;
    max-width: 200px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    min-width: 150px;
    padding: 8px 0;
    -webkit-transform-origin: top;
            transform-origin: top;
    visibility: hidden;
    opacity: 0;
    z-index: 9;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  .hc-submenu li {
    display: block;
  }
  .hc-submenu li a {
    display: block;
    padding: 5px 15px;
  }
  .hc-navbar > ul > li:hover .hc-submenu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  .hc-navbar > ul > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
  }
  .hc-navbar > ul > li:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 1199px) {
  .hc-menu-toggle {
    width: 22px;
    text-align: center;
  }
  .hc-menu-toggle span {
    display: block;
    width: 22px;
    height: 2px;
    background: #1f2732;
    margin-bottom: 4px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .hc-menu-toggle span:nth-child(2) {
    width: 12px;
    background: #1abc9c;
    margin-left: auto;
    margin-right: auto;
  }
  .hc-menu-toggle span:nth-child(3) {
    margin-bottom: 0px;
  }
  .hc-open-menu .hc-menu-toggle span:nth-child(3) {
    -webkit-transform: translate(1px, -9px) rotate(48deg);
            transform: translate(1px, -9px) rotate(48deg);
  }
  .hc-open-menu .hc-menu-toggle span:nth-child(2) {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
    width: 24px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: 5px;
    background: transparent;
    border-radius: 5px;
  }
  .hc-open-menu .hc-menu-toggle span:nth-child(1) {
    -webkit-transform: translate(1px, 6px) rotate(-48deg);
            transform: translate(1px, 6px) rotate(-48deg);
  }
  .hc-main-head-flex {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .hc-navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -270px;
    width: 260px;
    background: #fff;
    z-index: 99;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow-y: auto;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
    text-align: left;
  }
  .hc-navbar > ul li {
    border-bottom: 1px solid #eee;
    position: relative;
  }
  .hc-navbar > ul li a {
    padding: 15px;
    display: inline-block;
  }
  .hc-navbar > ul li:last-child {
    border-bottom: 0;
  }
  .hc-open-menu .hc-navbar {
    left: 0;
  }
  .hc-navbar ul.hc-submenu li:first-child {
    border-top: 1px solid #eee;
  }
  ul.hc-submenu {
    display: none;
  }
  ul.hc-submenu li a {
    margin-left: 20px;
  }
  .hc-has-submenu:after {
    right: 15px;
    top: 23px;
    bottom: auto;
  }
  .hc-team-box {
    max-width: 280px;
  }
  .hc-banner-content {
    padding: 60px 0;
  }
  .hc-banner-content h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 991px) {
  .hc-map-address {
    width: auto;
  }
  .hc-about-content {
    padding-top: 50px;
  }
  .hc-team-box {
    max-width: 310px;
  }
  .hc-go-top {
    right: 50px;
  }
  .hc-banner-img {
    position: unset;
  }
  .hc-banner-shape,
  .hc-banner:after {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hc-top-head-div,
  .hc-top-head-right {
    text-align: center;
  }
  .hc-footer-contact-list {
    -ms-grid-columns: (1fr);
        grid-template-columns: repeat(1, 1fr);
  }
  .hc-footer-contact-list li {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .hc-footer-contact-list li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .hc-main-head-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hc-logo {
    text-align: center;
    margin-bottom: 10px;
  }
  .hc-blog-img img {
    width: 100%;
  }
  .hc-team-box {
    max-width: 100%;
    margin: 0 0px 30px;
  }
  .hc-spacer-bottom {
    padding-bottom: 60px;
  }
  .hc-spacer-top {
    padding-top: 60px;
  }
  .hc-blog {
    padding-bottom: 10px;
  }
  .hc-service,
  .hc-team {
    padding-bottom: 30px;
  }
  .hc-map-box {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 574px) {
  .hc-testi-img img {
    width: 80px;
    height: 80px;
  }
  .hc-heading {
    font-size: 30px;
  }
  .hc-go-top {
    width: 50px;
    height: 50px;
  }
  .hc-go-top svg {
    width: 15px;
    height: 15px;
  }
  .hc-heading-wrap.text-center .hc-sub-heading:before {
    margin-left: -45px;
  }
  .hc-sub-heading:after,
  .hc-heading-wrap.text-center .hc-sub-heading:before {
    width: 30px;
  }
  .hc-go-top.hc-go-top-show {
    bottom: 20px;
  }
  .hc-go-top {
    right: 20px;
  }
  .hc-tab-list li {
    margin-right: 15px;
  }
  .hc-tab-content {
    margin-top: 20px;
  }
  .hc-blog-data {
    width: 95%;
  }
}
/*# sourceMappingURL=reponsive.css.map */