{% extends 'admin/master.html'%}


{% block head%}
{{super()}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="{{url_for('static', filename='js/nurse/offline_registration.js')}}"></script>
{% endblock%}

{% block body %}
{{super()}}
<div class="content">
    <div class="page-inner">
        <h4 class="page-title">Đăng ký trực tiếp</h4>
        <div class="row">
            <div class="col-12 col-md-5">
                <div class="card card-stats card-primary card-round">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="fas fa-hospital-user"></i>
                                </div>
                            </div>
                            <div class="col-7 col-stats">
                                <div class="numbers">
                                    {% if amount >0 %}
                                    <p class="card-category">Số lượt đăng ký còn lại</p>
                                    <h4 class="card-title">{{amount}}</h4>
                                    {%else %}
                                    <p class="card-category">Số lượt đăng ký đã đạt giới hạn trong ngày</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                {% if amount >0 %}
                {% include 'includes/nurse/add_customer_result_modal.html' %}
                {% include 'includes/nurse/input_customer_infor.html' %}
                {% endif %}
            </div>
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-title">Danh sách khách hàng trong ngày</div>
                        </div>
                    </div>
                    <div class="card-body stats-scroll">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover model-list">
                                <thead class="bg-thead">
                                    <tr>
                                        <th>Số thứ tự</th>
                                        <th>CCCD</th>
                                        <th>Họ tên</th>
                                    </tr>
                                </thead>
                                {% for c in daily_customer_list %}
                                <tr>
                                    <td>{{daily_customer_list.index(c) + 1}}</td>
                                    <td>{{c}}</td>
                                    <td>Họ tên KH</td>
                                </tr>
                                {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}