{% extends 'admin/master.html'%}


{% block head%}
{{super()}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.22/jspdf.plugin.autotable.min.js"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="{{url_for('static', filename='js/nurse/payment.js')}}"></script>
{% endblock%}

{% block body %}
{{super()}}
<h1 style="margin-top: 100px">Thanh toán hóa đơn</h1>
{% include 'includes/nurse/input_medical_examination.html' %}
{%if medical_examination_search_result !=None %}
    {%if medical_examination_search_result !=True%}
     {% include 'includes/nurse/medical_examination_payment_infor.html' %}
    
    {%else%}
    {% include 'includes/nurse/search_medical_examination_result_modal.html' %}
    {%endif%}
{% endif %}
{% endblock %}